In [1]:
#importing spark
import findspark
findspark.init()
findspark.find()
import pyspark

## DataFrames

In [6]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

Collecting pandas
  Using cached pandas-1.5.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
Collecting numpy>=1.21.0
  Using cached numpy-1.24.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: /home/victor/Projetos/hellow_world_pyspark/.venv/bin/python -m pip install --upgrade pip

In [2]:
from pyspark.sql import SparkSession
import pandas as pd

In [3]:
#reading the csv
churn_df = pd.read_csv("asset/Download/Churn.csv", sep=";")
churn_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0,1,1,1,10134888,1
1,608,Spain,Female,41,1,8380786,1,0,1,11254258,0
2,502,France,Female,42,8,1596608,3,1,0,11393157,1
3,699,France,Female,39,1,0,2,0,0,9382663,0
4,850,Spain,Female,43,2,12551082,1,1,1,790841,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0,2,1,0,9627064,0
9996,516,France,Male,35,10,5736961,1,1,1,10169977,0
9997,709,France,Female,36,7,0,1,0,1,4208558,1
9998,772,Germany,Male,42,3,7507531,2,1,0,9288852,1
9999,792,France,Female,28,4,13014279,1,1,0,3819078,0

In [4]:
type(churn_df)

pandas.core.frame.DataFrame

In [5]:
spark = SparkSession.builder.appName("Pandas").getOrCreate()

23/02/23 19:13:58 WARN Utils: Your hostname, victor-System-Product-Name resolves to a loopback address: 127.0.1.1; using 192.168.0.22 instead (on interface enp2s0)
23/02/23 19:13:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/23 19:13:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark_churn_df = spark.createDataFrame(churn_df)

/opt/spark/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/opt/spark/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [7]:
spark_churn_df.show()

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
|        645|    Spain|  Male| 44|     8|11375578|            2|        1|             0|       14975671|     1|
|        822|   France|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|
|        376|  Germany|Female| 29|     4|11504674|            4|        1|             0|       11934688|     1|
|        501|   France|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|
|        684|   France|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|
|        528|   France|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|
|        497|    Spain|  Male| 24|     3|       0|            2|        1|             0|        7639001|     0|
|        476|   France|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|
|        549|   France|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|
|        635|    Spain|Female| 35|     7|       0|            2|        1|             1|        6595165|     0|
|        616|  Germany|  Male| 45|     3|14312941|            2|        0|             1|        6432726|     0|
|        653|  Germany|  Male| 58|     1|13260288|            1|        1|             0|         509767|     1|
|        549|    Spain|Female| 24|     9|       0|            2|        1|             1|        1440641|     0|
|        587|    Spain|  Male| 45|     6|       0|            1|        0|             0|       15868481|     0|
|        726|   France|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 20 rows